<!doctype html>
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Cliente</th>
            <th scope="col">Estado</th>
            <th scope="col">Servicio</th>
        </tr>
        </thead>
        <tbody>
        {% for cola in cola %}
            <tr>
                <th scope="row">{{cola.id}}</th>
                <td>{{cola.cliente}}</td>
                <td>{{cola.estado}}</td>
                <td>{{cola.servicio}}</td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
{% endblock content %}